In [76]:
import numpy as np
import pandas as pd

In [77]:
matching = pd.read_csv("법정동_행정동_매칭_new.csv", encoding="cp949")

In [78]:
problem =pd.read_csv("법정동_행정동_중복값.csv")

In [79]:
problem_list = list(problem['중복값 리스트'])

In [80]:
open_close = pd.read_csv('행정동별_개폐업수_모음.csv')

In [82]:
open_close.columns

Index(['행정구역', '생활밀접업종', '22-1개업수', '22-1폐업수', '22-1개업률', '22-1폐업률', '22-2개업수',
       '22-2폐업수', '22-2개업률', '22-2폐업률', '22-3개업수', '22-3폐업수', '22-3개업률',
       '22-3폐업률', '22-4개업수', '22-4폐업수', '22-4개업률', '22-4폐업률', '23-1개업수',
       '23-1폐업수', '23-1개업률', '23-1폐업률'],
      dtype='object')

In [83]:
open_close['생활밀접업종'].unique()

array(['제과점', '한식음식점', '중식음식점', '일식음식점', '양식음식점', '전체', '패스트푸드점', '치킨전문점',
       '분식전문점', '호프-간이주점', '커피-음료'], dtype=object)

In [84]:
open_close_A03= open_close[open_close['생활밀접업종']=='전체']

In [85]:
open_close_A03.columns

Index(['행정구역', '생활밀접업종', '22-1개업수', '22-1폐업수', '22-1개업률', '22-1폐업률', '22-2개업수',
       '22-2폐업수', '22-2개업률', '22-2폐업률', '22-3개업수', '22-3폐업수', '22-3개업률',
       '22-3폐업률', '22-4개업수', '22-4폐업수', '22-4개업률', '22-4폐업률', '23-1개업수',
       '23-1폐업수', '23-1개업률', '23-1폐업률'],
      dtype='object')

In [86]:
open_close_A03[['22-1개업수', '22-1폐업수', '22-1개업률', '22-1폐업률',
       '22-2개업수', '22-2폐업수', '22-2개업률', '22-2폐업률', '22-3개업수', '22-3폐업수',
       '22-3개업률', '22-3폐업률', '22-4개업수', '22-4폐업수', '22-4개업률', '22-4폐업률',
       '23-1개업수', '23-1폐업수', '23-1개업률', '23-1폐업률']] = open_close_A03[['22-1개업수', '22-1폐업수', '22-1개업률', '22-1폐업률',
       '22-2개업수', '22-2폐업수', '22-2개업률', '22-2폐업률', '22-3개업수', '22-3폐업수',
       '22-3개업률', '22-3폐업률', '22-4개업수', '22-4폐업수', '22-4개업률', '22-4폐업률',
       '23-1개업수', '23-1폐업수', '23-1개업률', '23-1폐업률']]*0.3

/Users/yoonjeong/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [87]:
open_close_A03['생활밀접업종']='A03'

<ipython-input-87-0a8964146a87>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  open_close_A03['생활밀접업종']='A03'

In [88]:
open_close_A10= open_close[open_close['생활밀접업종']=='전체']

In [89]:
open_close_A10[['22-1개업수', '22-1폐업수', '22-1개업률', '22-1폐업률',
       '22-2개업수', '22-2폐업수', '22-2개업률', '22-2폐업률', '22-3개업수', '22-3폐업수',
       '22-3개업률', '22-3폐업률', '22-4개업수', '22-4폐업수', '22-4개업률', '22-4폐업률',
       '23-1개업수', '23-1폐업수', '23-1개업률', '23-1폐업률']] = open_close_A10[['22-1개업수', '22-1폐업수', '22-1개업률', '22-1폐업률',
       '22-2개업수', '22-2폐업수', '22-2개업률', '22-2폐업률', '22-3개업수', '22-3폐업수',
       '22-3개업률', '22-3폐업률', '22-4개업수', '22-4폐업수', '22-4개업률', '22-4폐업률',
       '23-1개업수', '23-1폐업수', '23-1개업률', '23-1폐업률']]*0.0036

In [90]:
open_close_A10['생활밀접업종']='A10'

<ipython-input-90-fd1585d9735a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  open_close_A10['생활밀접업종']='A10'

In [91]:
open_close.reset_index(inplace=True)
open_close_A03.reset_index(inplace=True)
open_close_A10.reset_index(inplace=True)

In [92]:
open_close_df= pd.concat([open_close,open_close_A03, open_close_A10], ignore_index=True)

In [93]:
open_close_df['생활밀접업종'].unique()

array(['제과점', '한식음식점', '중식음식점', '일식음식점', '양식음식점', '전체', '패스트푸드점', '치킨전문점',
       '분식전문점', '호프-간이주점', '커피-음료', 'A03', 'A10'], dtype=object)

In [94]:
raw_data = pd.read_csv("data_given.csv")

In [95]:
raw_data['생활밀접업종']= raw_data['INDUSTRY_CD']

In [96]:
raw_data['생활밀접업종'] = raw_data['생활밀접업종'].replace('A01', '한식음식점')
raw_data['생활밀접업종'] = raw_data['생활밀접업종'].replace('A02', '치킨전문점')
raw_data['생활밀접업종'] = raw_data['생활밀접업종'].replace('A03', 'A03')
raw_data['생활밀접업종'] = raw_data['생활밀접업종'].replace('A04', '제과점')
raw_data['생활밀접업종'] = raw_data['생활밀접업종'].replace('A05', '패스트푸드점')
raw_data['생활밀접업종'] = raw_data['생활밀접업종'].replace('A06', '분식전문점')
raw_data['생활밀접업종'] = raw_data['생활밀접업종'].replace('A07', '패스트푸드점')
raw_data['생활밀접업종'] = raw_data['생활밀접업종'].replace('A08', '커피-음료')
raw_data['생활밀접업종'] = raw_data['생활밀접업종'].replace('A09', '커피-음료')
raw_data['생활밀접업종'] = raw_data['생활밀접업종'].replace('A10', 'A10')
raw_data['생활밀접업종'] = raw_data['생활밀접업종'].replace('A11', '중식음식점')
raw_data['생활밀접업종'] = raw_data['생활밀접업종'].replace('A12', '호프-간이주점')
raw_data['생활밀접업종'] = raw_data['생활밀접업종'].replace('A13', '일식음식점')
raw_data['생활밀접업종'] = raw_data['생활밀접업종'].replace('A14', '양식음식점')
raw_data['생활밀접업종'] = raw_data['생활밀접업종'].replace('A15', '커피-음료')

In [97]:
raw2 = raw_data[raw_data['STDG_EMD_CD'].isin(problem_list)] # 971807 문제아

In [98]:
raw1 = raw_data[~raw_data['STDG_EMD_CD'].isin(problem_list)] # 451916 착한애

In [99]:
open_close_df.drop(['index'], axis=1, inplace=True)

# raw1 (행정동,생활밀접업종 기준으로 Merge)

In [100]:
matching.rename(columns= {'법정동코드':'STDG_EMD_CD'}, inplace=True)

In [101]:
matching

     STDG_EMD_CD           법정동명       행정동코드       행정동명
0       11110101  서울특별시 종로구 청운동  1111051500  종로구 청운효자동
1       11110102  서울특별시 종로구 신교동  1111051500  종로구 청운효자동
2       11110103  서울특별시 종로구 궁정동  1111051500  종로구 청운효자동
3       11110104  서울특별시 종로구 효자동  1111051500  종로구 청운효자동
4       11110105  서울특별시 종로구 창성동  1111051500  종로구 청운효자동
..           ...            ...         ...        ...
738     11740108  서울특별시 강동구 성내동  1174066000   강동구 성내3동
739     11740109  서울특별시 강동구 천호동  1174060000   강동구 천호1동
740     11740109  서울특별시 강동구 천호동  1174061000   강동구 천호2동
741     11740109  서울특별시 강동구 천호동  1174062000   강동구 천호3동
742     11740110  서울특별시 강동구 강일동  1174051500    강동구 강일동

[743 rows x 4 columns]

In [102]:
raw1 = pd.merge(raw1, matching[['STDG_EMD_CD','행정동코드','행정동명']], on='STDG_EMD_CD')

In [103]:
raw1.head() # 451916

,DATA_CRTR_YM,LT_UNQ_NO,STDG_EMD_CD,INDUSTRY_CD,SLS_GRD,생활밀접업종,행정동코드,행정동명
0,202201,1111010100100030080,11110101,A03,4,A03,1111051500,종로구 청운효자동
1,202201,1111010100100480000,11110101,A01,2,한식음식점,1111051500,종로구 청운효자동
2,202201,1111010100100589952,11110101,A11,3,중식음식점,1111051500,종로구 청운효자동
3,202201,1111010100100589952,11110101,A03,2,A03,1111051500,종로구 청운효자동
4,202201,1111010100100690048,11110101,A01,2,한식음식점,1111051500,종로구 청운효자동

In [104]:
open_close_df.rename(columns={'행정구역':'행정동명'}, inplace=True)

In [105]:
open_close_df.head()

,행정동명,생활밀접업종,22-1개업수,22-1폐업수,22-1개업률,22-1폐업률,22-2개업수,22-2폐업수,22-2개업률,22-2폐업률,...,22-3개업률,22-3폐업률,22-4개업수,22-4폐업수,22-4개업률,22-4폐업률,23-1개업수,23-1폐업수,23-1개업률,23-1폐업률
0,종로구 청운효자동,제과점,3.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.5,0.0,2.0,0.0,10.5,1.0,0.0,5.0,0.0
1,종로구 사직동,제과점,1.0,0.0,3.1,0.0,0.0,0.0,0.0,0.0,...,3.1,3.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,종로구 삼청동,제과점,0.0,0.0,0.0,0.0,0.0,1.0,0.0,7.1,...,7.7,15.4,2.0,0.0,13.3,0.0,0.0,0.0,0.0,0.0
3,종로구 부암동,제과점,1.0,0.0,14.3,0.0,0.0,0.0,0.0,0.0,...,12.5,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,14.3
4,종로구 평창동,제과점,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,20.0,0.0,0.0,0.0,0.0

In [106]:
open_close_df.iloc[:,[0,1,2,3,4,5]]

           행정동명 생활밀접업종  22-1개업수  22-1폐업수   22-1개업률  22-1폐업률
0     종로구 청운효자동    제과점   3.0000   0.0000  13.00000  0.00000
1       종로구 사직동    제과점   1.0000   0.0000   3.10000  0.00000
2       종로구 삼청동    제과점   0.0000   0.0000   0.00000  0.00000
3       종로구 부암동    제과점   1.0000   0.0000  14.30000  0.00000
4       종로구 평창동    제과점   0.0000   0.0000   0.00000  0.00000
...         ...    ...      ...      ...       ...      ...
5520   강동구 성내2동    A10   0.0216   0.0288   0.00576  0.00756
5521   강동구 성내3동    A10   0.0288   0.0504   0.00504  0.00900
5522     강동구 길동    A10   0.0936   0.0828   0.01224  0.01080
5523   강동구 둔촌1동    A10   0.0000   0.0000   0.00000  0.00000
5524   강동구 둔촌2동    A10   0.0324   0.0252   0.01332  0.01044

[5525 rows x 6 columns]

In [107]:
Q1_22_raw1 = raw1[(raw1.DATA_CRTR_YM <= 202203) & (raw1.DATA_CRTR_YM >= 202201)]
Q1_22_openclose = open_close_df.iloc[:,[0,1,2,3,4,5]]
Q1_22 = pd.merge(Q1_22_raw1,Q1_22_openclose, on=['행정동명', '생활밀접업종'], how='left')

Q2_22_raw1 = raw1[(raw1.DATA_CRTR_YM <= 202206) & (raw1.DATA_CRTR_YM >= 202204)]
Q2_22_openclose = open_close_df.iloc[:,[0,1,6,7,8,9]]
Q2_22 = pd.merge(Q2_22_raw1,Q2_22_openclose, on=['행정동명', '생활밀접업종'], how='left')

Q3_22_raw1 = raw1[(raw1.DATA_CRTR_YM <= 202209) & (raw1.DATA_CRTR_YM >= 202207)]
Q3_22_openclose = open_close_df.iloc[:,[0,1,10,11,12,13]]
Q3_22 = pd.merge(Q3_22_raw1,Q3_22_openclose, on=['행정동명', '생활밀접업종'], how='left')

Q4_22_raw1 = raw1[(raw1.DATA_CRTR_YM <= 2022012) & (raw1.DATA_CRTR_YM >= 202210)]
Q4_22_openclose = open_close_df.iloc[:,[0,1,14,15,16,17]]
Q4_22 = pd.merge(Q4_22_raw1,Q4_22_openclose, on=['행정동명', '생활밀접업종'], how='left')

#Q1_23_raw1 = raw1[(raw1.DATA_CRTR_YM <= 202303) & (raw1.DATA_CRTR_YM >= 202301)]
#Q1_23_openclose = open_close_df.iloc[:,[0,1,18,19,20,21]]
#Q1_23 = pd.merge(Q1_23_raw1,Q1_23_openclose, on=['행정동명', '생활밀접업종'])

In [108]:
Q1_22.columns

Index(['DATA_CRTR_YM', 'LT_UNQ_NO', 'STDG_EMD_CD', 'INDUSTRY_CD', 'SLS_GRD',
       '생활밀접업종', '행정동코드', '행정동명', '22-1개업수', '22-1폐업수', '22-1개업률', '22-1폐업률'],
      dtype='object')

In [109]:
Q1_22.rename(columns={'22-1개업수':'개업수', '22-1폐업수':'폐업수', '22-1개업률':'개업률', '22-1폐업률':'폐업률'}, inplace=True)
Q2_22.rename(columns={'22-2개업수':'개업수', '22-2폐업수':'폐업수', '22-2개업률':'개업률', '22-2폐업률':'폐업률'}, inplace=True)
Q3_22.rename(columns={'22-3개업수':'개업수', '22-3폐업수':'폐업수', '22-3개업률':'개업률', '22-3폐업률':'폐업률'}, inplace=True)
Q4_22.rename(columns={'22-4개업수':'개업수', '22-4폐업수':'폐업수', '22-4개업률':'개업률', '22-4폐업률':'폐업률'}, inplace=True)

In [110]:
raw1_final = pd.concat([Q1_22,Q2_22,Q3_22,Q4_22], ignore_index=True) # 451916 데이터 손실 없음

In [111]:
raw1_final

,DATA_CRTR_YM,LT_UNQ_NO,STDG_EMD_CD,INDUSTRY_CD,SLS_GRD,생활밀접업종,행정동코드,행정동명,개업수,폐업수,개업률,폐업률
0,202201,1111010100100030080,11110101,A03,4,A03,1111051500,종로구 청운효자동,3.6,2.1,1.23,0.72
1,202201,1111010100100480000,11110101,A01,2,한식음식점,1111051500,종로구 청운효자동,2.0,3.0,2.20,3.20
2,202201,1111010100100589952,11110101,A11,3,중식음식점,1111051500,종로구 청운효자동,0.0,0.0,0.00,0.00
3,202201,1111010100100589952,11110101,A03,2,A03,1111051500,종로구 청운효자동,3.6,2.1,1.23,0.72
4,202201,1111010100100690048,11110101,A01,2,한식음식점,1111051500,종로구 청운효자동,2.0,3.0,2.20,3.20
...,...,...,...,...,...,...,...,...,...,...,...,...
451911,202212,1174011000106949888,11740110,A03,4,A03,1174051500,강동구 강일동,1.5,3.3,1.17,2.55
451912,202212,1174011000106990080,11740110,A01,4,한식음식점,1174051500,강동구 강일동,1.0,4.0,2.50,10.00
451913,202212,1174011000107069952,11740110,A03,3,A03,1174051500,강동구 강일동,1.5,3.3,1.17,2.55
451914,202212,1174011000107069952,11740110,A03,4,A03,1174051500,강동구 강일동,1.5,3.3,1.17,2.55
451915,202212,1174011000107269888,11740110,A08,3,커피-음료,1174051500,강동구 강일동,2.0,2.0,9.10,9.10

In [112]:
raw1_final.isnull().sum()

DATA_CRTR_YM    0
LT_UNQ_NO       0
STDG_EMD_CD     0
INDUSTRY_CD     0
SLS_GRD         0
생활밀접업종          0
행정동코드           0
행정동명            0
개업수             0
폐업수             0
개업률             0
폐업률             0
dtype: int64

# raw2 (법정동,생활밀접업종 기준으로 Merge)

### 평균값부터 구하기
raw 개수 971807

In [113]:
# raw2 = pd.merge(raw2, matching[['STDG_EMD_CD','행정동코드','행정동명']], on='STDG_EMD_CD')

In [114]:
open_close_df.columns

Index(['행정동명', '생활밀접업종', '22-1개업수', '22-1폐업수', '22-1개업률', '22-1폐업률', '22-2개업수',
       '22-2폐업수', '22-2개업률', '22-2폐업률', '22-3개업수', '22-3폐업수', '22-3개업률',
       '22-3폐업률', '22-4개업수', '22-4폐업수', '22-4개업률', '22-4폐업률', '23-1개업수',
       '23-1폐업수', '23-1개업률', '23-1폐업률'],
      dtype='object')

In [115]:
open_close_df.head() #5525개

,행정동명,생활밀접업종,22-1개업수,22-1폐업수,22-1개업률,22-1폐업률,22-2개업수,22-2폐업수,22-2개업률,22-2폐업률,...,22-3개업률,22-3폐업률,22-4개업수,22-4폐업수,22-4개업률,22-4폐업률,23-1개업수,23-1폐업수,23-1개업률,23-1폐업률
0,종로구 청운효자동,제과점,3.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.5,0.0,2.0,0.0,10.5,1.0,0.0,5.0,0.0
1,종로구 사직동,제과점,1.0,0.0,3.1,0.0,0.0,0.0,0.0,0.0,...,3.1,3.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,종로구 삼청동,제과점,0.0,0.0,0.0,0.0,0.0,1.0,0.0,7.1,...,7.7,15.4,2.0,0.0,13.3,0.0,0.0,0.0,0.0,0.0
3,종로구 부암동,제과점,1.0,0.0,14.3,0.0,0.0,0.0,0.0,0.0,...,12.5,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,14.3
4,종로구 평창동,제과점,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,20.0,0.0,0.0,0.0,0.0

In [116]:
problem.rename(columns={'중복값 리스트':'STDG_EMD_CD'}, inplace=True)

In [117]:
problem.columns

Index(['STDG_EMD_CD'], dtype='object')

In [118]:
matching.columns

Index(['STDG_EMD_CD', '법정동명', '행정동코드', '행정동명'], dtype='object')

In [119]:
matching_problem = matching[matching['STDG_EMD_CD'].isin(problem_list)]

In [120]:
matching_problem

     STDG_EMD_CD           법정동명       행정동코드             행정동명
18      11110119  서울특별시 종로구 세종로  1111051500        종로구 청운효자동
19      11110119  서울특별시 종로구 세종로  1111053000          종로구 사직동
20      11110119  서울특별시 종로구 세종로  1111061500  종로구 종로1·2·3·4가동
31      11110130  서울특별시 종로구 와룡동  1111061500  종로구 종로1·2·3·4가동
32      11110130  서울특별시 종로구 와룡동  1111065000          종로구 혜화동
..           ...            ...         ...              ...
737     11740108  서울특별시 강동구 성내동  1174065000         강동구 성내2동
738     11740108  서울특별시 강동구 성내동  1174066000         강동구 성내3동
739     11740109  서울특별시 강동구 천호동  1174060000         강동구 천호1동
740     11740109  서울특별시 강동구 천호동  1174061000         강동구 천호2동
741     11740109  서울특별시 강동구 천호동  1174062000         강동구 천호3동

[411 rows x 4 columns]

In [121]:
test = pd.merge(matching_problem[['STDG_EMD_CD','행정동코드','행정동명']], open_close_df, on='행정동명', how='outer')

In [122]:
open_close_df2 = test.groupby(['STDG_EMD_CD','생활밀접업종']).agg('mean')

In [123]:
open_close_df2

                            행정동코드   22-1개업수   22-1폐업수   22-1개업률   22-1폐업률  \
STDG_EMD_CD 생활밀접업종
11110119.0  A03      1.111055e+09  7.300000  8.400000  0.780000  0.670000
            A10      1.111055e+09  0.087600  0.100800  0.009360  0.008040
            분식전문점    1.111055e+09  3.666667  2.666667  4.233333  2.666667
            양식음식점    1.111055e+09  1.333333  2.666667  1.000000  2.566667
            일식음식점    1.111055e+09  1.666667  0.666667  4.500000  0.900000
...                           ...       ...       ...       ...       ...
11740109.0  치킨전문점    1.174061e+09  0.000000  0.333333  0.000000  1.066667
            커피-음료    1.174061e+09  3.000000  1.666667  5.933333  3.100000
            패스트푸드점   1.174061e+09  1.000000  1.666667  5.966667  7.400000
            한식음식점    1.174061e+09  6.666667  5.666667  3.166667  2.766667
            호프-간이주점  1.174061e+09  0.333333  1.000000  0.566667  1.900000

                       22-2개업수   22-2폐업수   22-2개업률   22-2폐업률    22-3개업수  ...  \
STDG_EMD_CD 생활밀접업종                                                       ...
11110119.0  A03      10.800000  7.200000  0.830000  0.600000  13.600000  ...
            A10       0.129600  0.086400  0.009960  0.007200   0.163200  ...
            분식전문점     5.666667  3.000000  2.500000  4.200000   6.666667  ...
            양식음식점     1.333333  2.333333  1.533333  1.833333   4.666667  ...
            일식음식점     3.666667  1.333333  5.833333  1.733333   2.666667  ...
...                        ...       ...       ...       ...        ...  ...
11740109.0  치킨전문점     1.666667  0.666667  9.466667  2.333333   1.000000  ...
            커피-음료     3.666667  1.000000  6.633333  2.333333   2.666667  ...
            패스트푸드점    1.666667  1.333333  9.200000  6.966667   1.000000  ...
            한식음식점     6.000000  6.000000  3.166667  3.100000   5.000000  ...
            호프-간이주점   1.000000  1.000000  1.666667  1.900000   0.333333  ...

                      22-3개업률    22-3폐업률    22-4개업수    22-4폐업수   22-4개업률  \
STDG_EMD_CD 생활밀접업종
11110119.0  A03      1.160000   0.970000  13.800000  12.500000  1.140000
            A10      0.013920   0.011640   0.165600   0.150000  0.013680
            분식전문점    7.266667   2.500000   6.000000   1.000000  5.100000
            양식음식점    4.733333   1.300000   2.666667   4.333333  2.566667
            일식음식점    8.066667   2.666667   5.000000   3.666667  9.666667
...                       ...        ...        ...        ...       ...
11740109.0  치킨전문점    5.133333  10.633333   0.000000   1.666667  0.000000
            커피-음료    4.733333   3.200000   4.000000   2.666667  7.733333
            패스트푸드점   4.533333   4.766667   0.666667   1.666667  3.833333
            한식음식점    2.766667   5.800000   8.000000   9.333333  4.800000
            호프-간이주점  1.866667   6.800000   1.000000   0.666667  2.033333

                      22-4폐업률    23-1개업수    23-1폐업수   23-1개업률   23-1폐업률
STDG_EMD_CD 생활밀접업종
11110119.0  A03      0.950000  10.700000  11.000000  0.940000  0.880000
            A10      0.011400   0.128400   0.132000  0.011280  0.010560
            분식전문점    0.333333   5.000000   4.333333  5.900000  2.266667
            양식음식점    4.266667   4.333333   2.333333  3.666667  3.400000
            일식음식점    6.266667   1.666667   2.333333  1.766667  2.933333
...                       ...        ...        ...       ...       ...
11740109.0  치킨전문점    6.766667   0.333333   0.333333  2.566667  1.433333
            커피-음료    5.066667   2.666667   3.333333  4.633333  5.400000
            패스트푸드점   8.566667   1.000000   0.333333  4.033333  1.133333
            한식음식점    5.333333   7.333333   9.666667  3.766667  5.233333
            호프-간이주점  1.200000   1.666667   2.000000  4.633333  3.833333

[1703 rows x 21 columns]

In [124]:
open_close_df2.iloc[:,[1,2,3,4]]

                      22-1개업수   22-1폐업수   22-1개업률   22-1폐업률
STDG_EMD_CD 생활밀접업종
11110119.0  A03      7.300000  8.400000  0.780000  0.670000
            A10      0.087600  0.100800  0.009360  0.008040
            분식전문점    3.666667  2.666667  4.233333  2.666667
            양식음식점    1.333333  2.666667  1.000000  2.566667
            일식음식점    1.666667  0.666667  4.500000  0.900000
...                       ...       ...       ...       ...
11740109.0  치킨전문점    0.000000  0.333333  0.000000  1.066667
            커피-음료    3.000000  1.666667  5.933333  3.100000
            패스트푸드점   1.000000  1.666667  5.966667  7.400000
            한식음식점    6.666667  5.666667  3.166667  2.766667
            호프-간이주점  0.333333  1.000000  0.566667  1.900000

[1703 rows x 4 columns]

In [125]:
raw2

,DATA_CRTR_YM,LT_UNQ_NO,STDG_EMD_CD,INDUSTRY_CD,SLS_GRD,생활밀접업종
894,202201,1111011900100009984,11110119,A03,4,A03
895,202201,1111011900100009984,11110119,A03,4,A03
896,202201,1111011900100009984,11110119,A01,2,한식음식점
897,202201,1111011900100009984,11110119,A03,2,A03
898,202201,1111011900100010112,11110119,A01,2,한식음식점
...,...,...,...,...,...,...
1423643,202212,1174010900105710080,11740109,A02,2,치킨전문점
1423644,202212,1174010900105710080,11740109,A11,3,중식음식점
1423645,202212,1174010900105740032,11740109,A03,4,A03
1423646,202212,1174010900105740032,11740109,A03,3,A03
1423647,202212,1174010900105750016,11740109,A03,4,A03

In [126]:
Q1_22_raw2 = raw2[(raw2.DATA_CRTR_YM <= 202203) & (raw2.DATA_CRTR_YM >= 202201)]
Q1_22_openclose2 = open_close_df2.iloc[:,[1,2,3,4]]
Q1_22 = pd.merge(Q1_22_raw2,Q1_22_openclose2, on=['STDG_EMD_CD', '생활밀접업종'], how='left')

Q2_22_raw2 = raw2[(raw2.DATA_CRTR_YM <= 202206) & (raw2.DATA_CRTR_YM >= 202204)]
Q2_22_openclose2 = open_close_df2.iloc[:,[5,6,7,8]]
Q2_22 = pd.merge(Q2_22_raw2,Q2_22_openclose2, on=['STDG_EMD_CD', '생활밀접업종'], how='left')

Q3_22_raw2 = raw2[(raw1.DATA_CRTR_YM <= 202209) & (raw2.DATA_CRTR_YM >= 202207)]
Q3_22_openclose2 = open_close_df2.iloc[:,[9,10,11,12]]
Q3_22 = pd.merge(Q3_22_raw2,Q3_22_openclose2, on=['STDG_EMD_CD', '생활밀접업종'], how='left')

Q4_22_raw2 = raw2[(raw2.DATA_CRTR_YM <= 2022012) & (raw2.DATA_CRTR_YM >= 202210)]
Q4_22_openclose2 = open_close_df2.iloc[:,[13,14,15,16]]
Q4_22 = pd.merge(Q4_22_raw2,Q4_22_openclose2, on=['STDG_EMD_CD', '생활밀접업종'], how='left')

<ipython-input-126-b3b5781645b3>:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Q3_22_raw2 = raw2[(raw1.DATA_CRTR_YM <= 202209) & (raw2.DATA_CRTR_YM >= 202207)]

In [127]:
Q1_22

,DATA_CRTR_YM,LT_UNQ_NO,STDG_EMD_CD,INDUSTRY_CD,SLS_GRD,생활밀접업종,22-1개업수,22-1폐업수,22-1개업률,22-1폐업률
0,202201,1111011900100009984,11110119,A03,4,A03,7.300000,8.400000,0.780000,0.67
1,202201,1111011900100009984,11110119,A03,4,A03,7.300000,8.400000,0.780000,0.67
2,202201,1111011900100009984,11110119,A01,2,한식음식점,8.333333,10.666667,1.833333,2.30
3,202201,1111011900100009984,11110119,A03,2,A03,7.300000,8.400000,0.780000,0.67
4,202201,1111011900100010112,11110119,A01,2,한식음식점,8.333333,10.666667,1.833333,2.30
...,...,...,...,...,...,...,...,...,...,...
237478,202203,1174010900105710080,11740109,A03,4,A03,4.100000,3.600000,0.920000,0.74
237479,202203,1174010900105710080,11740109,A03,2,A03,4.100000,3.600000,0.920000,0.74
237480,202203,1174010900105740032,11740109,A03,5,A03,4.100000,3.600000,0.920000,0.74
237481,202203,1174010900105740032,11740109,A03,4,A03,4.100000,3.600000,0.920000,0.74
237482,202203,1174010900105750016,11740109,A03,4,A03,4.100000,3.600000,0.920000,0.74

In [128]:
Q1_22.rename(columns={'22-1개업수':'개업수', '22-1폐업수':'폐업수', '22-1개업률':'개업률', '22-1폐업률':'폐업률'}, inplace=True)
Q2_22.rename(columns={'22-2개업수':'개업수', '22-2폐업수':'폐업수', '22-2개업률':'개업률', '22-2폐업률':'폐업률'}, inplace=True)
Q3_22.rename(columns={'22-3개업수':'개업수', '22-3폐업수':'폐업수', '22-3개업률':'개업률', '22-3폐업률':'폐업률'}, inplace=True)
Q4_22.rename(columns={'22-4개업수':'개업수', '22-4폐업수':'폐업수', '22-4개업률':'개업률', '22-4폐업률':'폐업률'}, inplace=True)

In [129]:
raw2_final = pd.concat([Q1_22,Q2_22,Q3_22,Q4_22], ignore_index=True)  # 971807 문제아

In [130]:
len(raw2_final)

727460

In [131]:
raw2_final.isnull().sum()

DATA_CRTR_YM        0
LT_UNQ_NO           0
STDG_EMD_CD         0
INDUSTRY_CD         0
SLS_GRD             0
생활밀접업종              0
개업수             32826
폐업수             32826
개업률             32826
폐업률             32826
dtype: int64

In [132]:
Ha2= raw2_final[raw2_final['개업수'].isnull()]

In [133]:
Ha2['STDG_EMD_CD'].unique()

array([11470101., 11470102., 11470103., 11740103.])

In [134]:
matching[matching['STDG_EMD_CD']==11470101]

     STDG_EMD_CD           법정동명       행정동코드      행정동명
477     11470101  서울특별시 양천구 신정동  1147062000  양천구 신정1동
478     11470101  서울특별시 양천구 신정동  1147063000  양천구 신정2동
479     11470101  서울특별시 양천구 신정동  1147064000  양천구 신정3동
480     11470101  서울특별시 양천구 신정동  1147065000  양천구 신정4동
481     11470101  서울특별시 양천구 신정동  1147067000  양천구 신정6동
482     11470101  서울특별시 양천구 신정동  1147068000  양천구 신정7동

In [135]:
matching[matching['STDG_EMD_CD']==11470102]

     STDG_EMD_CD          법정동명       행정동코드     행정동명
483     11470102  서울특별시 양천구 목동  1147051000  양천구 목1동
484     11470102  서울특별시 양천구 목동  1147052000  양천구 목2동
485     11470102  서울특별시 양천구 목동  1147053000  양천구 목3동
486     11470102  서울특별시 양천구 목동  1147054000  양천구 목4동
487     11470102  서울특별시 양천구 목동  1147055000  양천구 목5동

In [136]:
matching[matching['STDG_EMD_CD']==11470103]

     STDG_EMD_CD           법정동명       행정동코드      행정동명
488     11470103  서울특별시 양천구 신월동  1147056000  양천구 신월1동
489     11470103  서울특별시 양천구 신월동  1147057000  양천구 신월2동
490     11470103  서울특별시 양천구 신월동  1147058000  양천구 신월3동
491     11470103  서울특별시 양천구 신월동  1147059000  양천구 신월4동
492     11470103  서울특별시 양천구 신월동  1147060000  양천구 신월5동
493     11470103  서울특별시 양천구 신월동  1147061000  양천구 신월6동
494     11470103  서울특별시 양천구 신월동  1147061100  양천구 신월7동

In [137]:
matching[matching['STDG_EMD_CD']==11740103]

     STDG_EMD_CD           법정동명       행정동코드      행정동명
728     11740103  서울특별시 강동구 상일동  1174052500  강동구 상일1동
729     11740103  서울특별시 강동구 상일동  1174052600  강동구 상일2동

In [148]:
data[data['행정구역']=='양천구 신월7동']

Empty DataFrame
Columns: [행정구역, 생활밀접업종, 22-1개업수, 22-1폐업수, 22-1개업률, 22-1폐업률, 22-2개업수, 22-2폐업수, 22-2개업률, 22-2폐업률, 22-3개업수, 22-3폐업수, 22-3개업률, 22-3폐업률, 22-4개업수, 22-4폐업수, 22-4개업률, 22-4폐업률, 23-1개업수, 23-1폐업수, 23-1개업률, 23-1폐업률]
Index: []

[0 rows x 22 columns]

In [140]:
data = pd.read_excel("행정동별_개폐업수_모음.xlsx")

In [142]:
data

,행정구역,생활밀접업종,22-1개업수,22-1폐업수,22-1개업률,22-1폐업률,22-2개업수,22-2폐업수,22-2개업률,22-2폐업률,...,22-3개업률,22-3폐업률,22-4개업수,22-4폐업수,22-4개업률,22-4폐업률,23-1개업수,23-1폐업수,23-1개업률,23-1폐업률
0,종로구 청운효자동,제과점,3,0,13.0,0.0,0,0,0.0,0.0,...,0.0,9.5,0,2,0.0,10.5,1,0,5.0,0.0
1,종로구 사직동,제과점,1,0,3.1,0.0,0,0,0.0,0.0,...,3.1,3.1,0,0,0.0,0.0,0,0,0.0,0.0
2,종로구 삼청동,제과점,0,0,0.0,0.0,0,1,0.0,7.1,...,7.7,15.4,2,0,13.3,0.0,0,0,0.0,0.0
3,종로구 부암동,제과점,1,0,14.3,0.0,0,0,0.0,0.0,...,12.5,0.0,0,0,0.0,0.0,0,1,0.0,14.3
4,종로구 평창동,제과점,0,0,0.0,0.0,0,0,0.0,0.0,...,0.0,0.0,0,1,0.0,20.0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4670,강동구 성내2동,커피-음료,1,0,2.0,0.0,4,0,7.5,0.0,...,14.5,10.9,6,6,10.9,10.9,1,0,1.8,0.0
4671,강동구 성내3동,커피-음료,1,1,1.3,1.3,7,2,8.8,2.5,...,3.8,6.4,5,5,6.4,6.4,1,4,1.3,5.3
4672,강동구 길동,커피-음료,6,1,6.6,1.1,7,2,7.3,2.1,...,5.2,5.2,3,8,3.3,8.8,6,8,6.7,9.0
4673,강동구 둔촌1동,커피-음료,0,0,0.0,0.0,0,0,0.0,0.0,...,0.0,0.0,0,1,0.0,0.0,0,0,0.0,0.0
4674,강동구 둔촌2동,커피-음료,5,3,12.2,7.3,4,1,9.1,2.3,...,4.3,0.0,0,3,0.0,7.0,2,3,4.8,7.1